In [1]:
2+5

7

In [3]:
print("hellodd")

hellodd

In [4]:
2**2

4

In [5]:
2*3

6

In [6]:
2**3

8

In [1]:
8+++7

15

In [2]:
1+++++1

2

In [4]:
 0.1+0.2-0.3

5.551115123125783e-17

In [5]:
0.2-0.3

-0.09999999999999998

In [6]:
30+*6

SyntaxError: invalid syntax (<ipython-input-6-bf7ab45567fc>, line 1)

In [7]:
6**6

46656

In [14]:
a=10.8

In [10]:
a = a*a

In [16]:
a

10.8

In [15]:
type(a)

float

In [18]:
name = 'Reza'

In [19]:
print(name)

Reza

In [24]:
print(name[1:-2])

e

In [26]:
print("hello \nworld")

hello
world

In [27]:
name = "Hello world"

In [31]:
print(len(name)-1)

10

In [32]:
print(name[10])

d

In [34]:
name[::1]

'Hello world'

In [37]:
name * 5

'Hello worldHello worldHello worldHello worldHello world'

In [38]:
name.upper()

'HELLO WORLD'

In [39]:
name.split()

['Hello', 'world']

In [41]:
print("This is a string {}".format('"INSERTED"'))

This is a string "INSERTED"

In [43]:
print("This is a string '{0}' '{0}' '{2}'".format('one', 'tow', 'three'))

This is a string 'one' 'one' 'three'

In [44]:
print("This is a string '{g}' '{f}' '{b}'".format(b="brown", g="green", f="fox"))

This is a string 'green' 'fox' 'brown'

In [45]:
result=104.254

In [50]:
print("The result is '{r:1.1f}'".format(r=result))

The result is '104.3'

In [52]:
name='Reza'
age=33
print(f"The name is {name} and age is {age}")

The name is Reza and age is 33

In [57]:
list_one = [11, "STRING", 23.44]

list_two = ['four', 36, 'THANKS']

all_lists = list_one+list_two

print(all_lists)

[11, 'STRING', 23.44, 'four', 36, 'THANKS']

In [58]:
all_lists[0] = 'CHNAGED'

In [59]:
all_lists

['CHNAGED', 'STRING', 23.44, 'four', 36, 'THANKS']

In [5]:
all_lists = [11, 'STRING', 23.44, 'four', 36, 'THANKS']

In [6]:
all_lists.append('www')

In [7]:
all_lists

[11, 'STRING', 23.44, 'four', 36, 'THANKS', 'www']

In [8]:
['1', 22, 'Hello'].pop()

'Hello'

In [24]:
dic = {'k1':25, 'k2':[1,2,[5,55,55],7], 'k3':{'ikey': [7,77,777]}}

In [15]:
dic['k1']

[1, 2, 3, 7]

In [16]:
dic['k2'][3]

7

In [22]:
dic['k2'][2][-1]

55

In [25]:
dic['k3']

{'ikey': [7, 77, 777]}

In [27]:
dic['k3']['ikey'][2]

777

In [28]:
dic['k3']['ikey'][2] = ['sd','sdsd',23]

In [29]:
dic

{'k1': 25,
 'k2': [1, 2, [5, 55, 55], 7],
 'k3': {'ikey': [7, 77, ['sd', 'sdsd', 23]]}}

In [30]:
dic.items()

dict_items([('k1', 25), ('k2', [1, 2, [5, 55, 55], 7]), ('k3', {'ikey': [7, 77, ['sd', 'sdsd', 23]]})])

# Set is uniqe

myset = set()

In [6]:
myset

{1}

In [3]:
myset.add(1)

In [7]:
myset

{1}

In [8]:
myset.add(5)

In [11]:
myset.add(8)

In [12]:
myset

{1, 5, 8}

In [14]:
myset.add(8)

In [15]:
myset

{1, 5, 8}

In [16]:
mylists = [1,1,1,1,1,1,2,2,2,3,3,8]

In [18]:
set(mylists)

{1, 2, 3, 8}

In [19]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [20]:
type(False)

bool

In [21]:
1 > 2

False

In [22]:
1==5

False

In [23]:
7==7

True

In [24]:
type(True)

bool

In [28]:
type({1, 2, 6})

set

In [27]:
type((1,2,3))

tuple

In [29]:
type({1:'one', 2:'two'})

dict

In [30]:
type([2,4,23])

list

In [31]:
b = None

In [33]:
print(b)

None

In [34]:
b

# Write files I/O

In [36]:
%%writefile myfile.txt
Hello this is s first file 
and then this is seconde file
this is tird file

Writing myfile.txt

In [37]:
myfile = open('myfile.txt')

In [38]:
myfile.read()

'Hello this is s first file \nand then this is seconde file\nthis is tird file \n'

In [39]:
myfile.read()

''

courser read that file and then goes the end of the line.

In [40]:
myfile.seek(0)

0

In [41]:
myfile.read()

'Hello this is s first file \nand then this is seconde file\nthis is tird file \n'

In [42]:
myfile.read()

''

In [44]:
myfile.seek(0)

0

In [45]:
content = myfile.read()

In [46]:
content

'Hello this is s first file \nand then this is seconde file\nthis is tird file \n'

In [49]:
myfile.readlines()

[]

In [51]:
myfile.seek(0)

0

In [52]:
myfile.readlines()

['Hello this is s first file \n',
 'and then this is seconde file\n',
 'this is tird file \n']

In [54]:
pwd

'C:\\Users\\Cisco\\Desktop\\projects'

In [55]:
myfile.close()

In [56]:
myfile

In [57]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [58]:
contents

'Hello this is s first file \nand then this is seconde file\nthis is tird file \n'

In [59]:
with open('myfile.txt', mode='w') as new_file:
    contents = new_file.read()

UnsupportedOperation: not readable

In [60]:
%%writefile my_new_file
first my line
my seconde line
my third line

Writing my_new_file

In [71]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

first my line
my seconde line
my third line

In [74]:
with open('my_new_file.txt', mode='a') as f:
    f.write("This is append text to this file")

In [81]:
with open('my_new_file.txt') as f:
    print(f.read())

first my line
my seconde line
my third line
This is append text to this fileThis is append text to this fileThis is seccend append after the first appendedThis is seccend append after the first appended
This is seccend append after the first appended

Character Meaning
--------- ---------------------------------------------------------------
'r'       open for reading (default)
'w'       open for writing, truncating the file first
'x'       create a new file and open it for writing
'a'       open for writing, appending to the end of the file if it exists
'b'       binary mode
't'       text mode (default)
'+'       open a disk file for updating (reading and writing)
'U'       universal newline mode (deprecated)
========= ===============================================================

In [88]:
with open('my_new_file.txt', mode='a') as f:
    f.write('\nThis is seccend append after the first appended')

In [89]:
with open('my_new_file.txt') as f:
    print(f.read())

first my line
my seconde line
my third line
This is append text to this fileThis is append text to this file
This is seccend append after the first appended

In [90]:
with open('file_not_exists.txt', mode='w') as f:
    f.write('This file doesnt exists but with w mode its created and wrote right away')

In [91]:
with open('file_not_exists.txt') as f:
    print(f.read())

This file doesnt exists but with w mode its created and wrote right away

In [3]:
1 < 2 < 3

True

In [4]:
2 > 1

True

In [5]:
1 < 2 > 3

False

In [6]:
1 == 1

True

In [8]:
not 1 == 1

False

In [9]:
not 400 > 5000

True

In [10]:
400 != 5000

True

In [11]:
2 <= 3 >= 1

True

In [14]:
loc = 'Bank'

if loc == 'Auto shope':
    print('There is Bank')
elif loc == 'Bank':
    print('The location is Bank')
elif loc == 'Store':
    print('There is store')
else:
    print('Its not clear')

The location is Bank

In [19]:
mylists = [1,2,3,4,5,6,7,8,9,10]

for item in mylists:
    if item % 2 ==  0:
        print(f"even> {item}")
    else:
        print(f"Odd> {item}")

Odd> 1
even> 2
Odd> 3
even> 4
Odd> 5
even> 6
Odd> 7
even> 8
Odd> 9
even> 10

In [25]:
counter = 0

for item in mylists:
    counter += item

print (counter)

55

In [27]:
string = "Hello World"

for item in string: # for item in "Hello World"
    print(item)

H
e
l
l
o

W
o
r
l
d

In [28]:
mylists = [(1,2),(3,4),(5,6),(7,8)]

In [29]:
len(mylists)

4

In [30]:
for item in mylists:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [32]:
for a,b in mylists:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [33]:
dic = {'k1':1,'k2':2,'k3':3}

In [34]:
for item in dic:
    print(item)

k1
k2
k3

In [36]:
for item in dic:
    print(item)

k1
k2
k3

In [39]:
for k,v in dic.items()
    print(k,v)

k1 1
k2 2
k3 3

In [40]:
for value in dic.values():
    print(value)

1
2
3

In [1]:
x=0
while x<5:
    print(x)
    x+=1
else:
    print(f"Thex is not less than 5")

0
1
2
3
4
Thex is not less than 5

In [2]:
for item in range(3,16,2):
    print(item)

3
5
7
9
11
13
15

In [18]:
lists = [1,2,3,4,5,6]
words = ['a','b','c','d','e','f']
numbers = [100,200,300,400,500,600]

In [22]:
for item in zip(lists, words, numbers):
    print(item)
    
print("==================")

for a,b,c in zip(lists, words, numbers):
    print(a,b,c)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)
(5, 'e', 500)
(6, 'f', 600)
==================
1 a 100
2 b 200
3 c 300
4 d 400
5 e 500
6 f 600

In [23]:
list(range(0, 12, 2))

[0, 2, 4, 6, 8, 10]

In [24]:
'x' in [1, 's', 270]

False

In [25]:
'a' in 'jkjshfa'

True

In [26]:
25 in {'key':25, 'key2':54}

False

In [27]:
25 in {'key':25, 'key2':54}.values()

True

In [29]:
'key' in {'key':25, 'key2':54}

True

In [38]:
string = 'Hello'
lists = []
for letter in string:
    lists.append(letter)

In [39]:
lists

['H', 'e', 'l', 'l', 'o']

In [40]:
lists = [letter for letter in string]

In [41]:
lists

['H', 'e', 'l', 'l', 'o']

In [42]:
word_lists = [x for x in 'Hello']

In [43]:
word_lists

['H', 'e', 'l', 'l', 'o']

In [46]:
numbers = [num for num in  range(1, 21)]

In [47]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [50]:
numbers = [num**2 for num in  range(1, 11)]

In [51]:
numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
numbers = [x for x in range(0, 21) if x%2==0]

In [56]:
numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]